<div class="container-fluid">
	
	<div class="row" >
	    <input class="search form-control" ng-model="search" type="text" placeholder="Search" >
	</div>

	<div>	
		<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination class="grid"></div>
	</div>

	<div class="inputValidation">
	<h5 style=" align: center;">{{message}}</h5>
	</div>

	<!-- <div class="input-container">

	 <input class="btn btn-default md-raised " type="button" value="New Email" ng-click="add()" align="center" style="float: left; "> 
	</div> -->

</div>

	
