
        <div class="panel panel-default">
            <div class="panel-heading">Add New Topic </div>
            <div class="panel-body">
                <form name="newForm" ng-submit="save(newObject)">
                <div class="row"></div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Criteria Name</label>
                    <i class="asterisk">*</i>
                </div>
                <div class="col-md-8">                                         
                    <label class="form-control" required>
                        {{newObject.criteriaBean.criteriaName}}
                    </label>
                </div>
            </div>
        </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Topic Name</label>
                        </div>
                        <div class="col-md-8">                                        
                        <input class="form-control" name="topic" type="input" ng-model="newObject.topicName" ng-blur="checkIfDuplicate()" placeholder="Topic name" required minlength="4">
                        <div ng-messages="newForm.topic.$error" role="alert" class="inputValidation">
                        <div ng-message="required" ng-show="newForm.topic.$dirty">This field is mandatory.</div>
                        <div ng-message="text">This field must contain a valid text</div>
                        <div ng-message="minlength">Topic name must be larger than 4</div>
                        <div ng-show="isNameNotValid===true && !newForm.topic.$invalid">Topic name already exists</div>

                    </div>
                        </div>
                    </div>
                </div>

            <button type="submit" class="btn btn-default" ng-disabled="newForm.$invalid" style="float: right;  position:relative;"
                            >Save</button>
            <button type="button" class="btn btn-default" style="float: right; position:relative;" ng-click="cancel()"
                            >Cancel</button>
                    </form>
        </div>
    </div>
