<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Team" ui-sref="configuration.team">
                <md-content class="md-padding" ui-view="team">
                </md-content>
            </md-tab>
            <md-tab label="Project" ui-sref="configuration.project">
                <md-content class="md-padding" ui-view="project">
                </md-content>
            </md-tab>
            <md-tab label="Domain" ui-sref="configuration.domain">
                <md-content class="md-padding" ui-view="domain">
                </md-content>
            </md-tab>
            <md-tab label="Location" ui-sref="configuration.location">
                <md-content class="md-padding" ui-view="location">
                </md-content>
            </md-tab>
            <md-tab label="Status" ui-sref="configuration.status">
                <md-content class="md-padding" ui-view="status">
                </md-content>
            </md-tab>
            <md-tab label="Title" ui-sref="configuration.title">
                <md-content class="md-padding" ui-view="title">
                </md-content>
            </md-tab>
            <md-tab label="Emails" ui-sref="configuration.emails">
                <md-content class="md-padding" ui-view="emails">
                </md-content>
            </md-tab>
            <md-tab label="DLs" ui-sref="configuration.dLs">
                <md-content class="md-padding" ui-view="dLs">
                </md-content>
            </md-tab>
            <md-tab label="Rate" ui-sref="configuration.rate">
                <md-content class="md-padding" ui-view="rate">
                </md-content>
            </md-tab>
            <!-- <md-tab label="DB Design" ui-sref="configuration.dBDesign">
                <md-content class="md-padding" ui-view="dBDesign">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab> -->
            <md-tab label="Backup DB" ui-sref="configuration.backupDB">
                <md-content class="md-padding" ui-view="backupDB">
                </md-content>
            </md-tab>
            <!-- <md-tab label="Restore DB" ui-sref="configuration.restoreDB">
                <md-content class="md-padding" ui-view="restoreDB">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab> -->
        </md-tabs>
    </md-content>
</div>
