<div  class="container-fluid">

	<div class="row" >
      <!--   <md-icon md-svg-src="styles/icons/search.svg" class="searchIcon"></md-icon> -->
        <input class=" search form-control" ng-model="search" type="text" placeholder="Search" >
    </div>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination class="grid"></div>

</div>

<div class="input-container">
   <!--  <md-button ng-click="add()" class="md-raised btn" style="float:left; ">New Rate</md-button>
 -->
    <input class="btn btn-default md-raised " type="button" value="New Rate" ng-click="add()" align="centre" style="float: left; ">
</div>



  
