<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Screening Details" ui-sref="interviewer.screeningDetails">
                <md-content class="md-padding" ui-view="screeningDetails">
                    <h1 class="md-display-2">Tab One</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                </md-content>
            </md-tab>
       
        <md-tab label="View Interviewees" ui-sref="interviewer.viewInterviewees">
            <md-content class="md-padding" ui-view="viewInterviewees">
                <h1 class="md-display-2">Tab One</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>
     
        <md-tab label="Report Issue" ui-sref="interviewer.reportIssue">
            <md-content class="md-padding" ui-view="reportIssue">
                <h1 class="md-display-2">Tab One</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>
        </md-tabs>
    </md-content>
</div>
