<md-dialog aria-label="Mango (Fruit)" flex>
  <form flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Onboarding Person Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content flex-gt-md>
      

    <div>
      <form name="userForm">
 		
        <div layout-gt-md="row">
          	<md-input-container class="md-block" flex-gt-xs>
            <label>
              <h4>Sapient Person
              </h4>
            </label>
            <input ng-model="editedObject.personName" >
          	</md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
            <label>
              <h4>Sapient Id
              </h4>
            </label>
            <input ng-model="editedObject.person.personOracleId" >
            </md-input-container>
        </div>

        <div layout-gt-md="row">
          	
        </div>

        <div layout-gt-md="row">
            <md-input-container class="md-block" flex-gt-xs>
            <label>
              <h4>Sapient Email
              </h4>
            </label>
            <input ng-model="editedObject.personEmail" >
            </md-input-container>
        </div>

        <div layout-gt-md="row" >
          	<md-input-container class="md-block" flex-gt-xs>
            <label>
              <h4>Supervisor Name
              </h4>
            </label>
            <input type="text" ng-model="editedObject.supervisorName" uib-typeahead="person.name for person in getPersonNames($viewValue)" typeahead-loading="loadingNames" typeahead-no-results="noResults" typeahead-min-length="3" typeahead-on-select="updatePSD($item, $model, $label, $event)" >

          	</md-input-container>
              </div>

        <div layout-gt-md="row">
          	<md-input-container class="md-block" flex-gt-xs>
            <label>
              <h4>Location
              </h4>
            </label>
            <md-select ng-model="editedObject.location.city">
          		<md-option ng-repeat="location in locationList" value="{{location}}" >
            		{{location}}
          		</md-option>
        	</md-select>
          	</md-input-container>

        </div>
        
      </form>
    </div>
     
    </md-dialog-content>
    <md-dialog-actions layout="row">  
      <span flex></span>
      <md-button ng-click="edit(editedObject)" style="margin-right:20px;" >
        save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

